// Core
@import './core/_base';
// Helper
@import './helpers/_mixins';
@import './helpers/_typo';
// Layout
@import './layouts/_grid';
@import './layouts/_scroll-bar';
@import './layouts/_wrapper';
// Resets
@import './resets/_normalize';


.input-box {
    @include width-height(100%, 40px);
    @include bgborder(var(--border-radius), 1px solid var(--border-color));
    @include font(var(--heading-color), var(--font-size));
    @include flex(center);
    padding: 6px 15px;
    position: relative;

    img {
        @include width-height(18px, 18px);
        @include position(absolute, 19px, null, null, 10px);
        transform: translateY(-50%);
    }

    input,
    .date-input {
        @include font(var(--primary-text-color));
        border: none;
        outline: none;
        width: 100%;
        padding-left: 24px;

        &::placeholder {
            @include font(var(--light-text-color));
            padding-left: 0px;
        }

        ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
        ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
        ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
            color: transparent;
        }
    }

    label {
        @include position(absolute, 11px, null, null, 45px);
        @include font(var(--light-text-color), var(--font-size));
        @include bgborder(null, null, var(--card-bg));
        @include width-height(50%, 25px);
        transition: top 0.3s ease-in-out;

        sup {
            color: var(--danger-color);
        }

        &.label-top {
            @include position(absolute, -11px, null, null, 38px);
            @include bgborder(null, null, var(--card-bg));
            @include font(var(--primary-color), var(--font-size));
            @include width-height(fit-content, fit-content);
            padding: 0 3px;
        }
    }

    &:focus-within {
        border: 2px solid var(--primary-color);

        label {
            @extend .label-top;
        }
    }
}


.dropdown {
    @include bgborder(var(--border-radius), transparent, var(--background-color), var(--card-box-shadow));
    @include position(absolute, 40px, null, null, 0);
    width: 100%;
    max-height: 150px;
    padding: 15px;
    overflow-y: auto;
    z-index: 100;

    li {
        @include font(var(--heading-color), var(--font-size));
        padding: 8px 0;
        cursor: pointer;

        // &:hover {
        //     @include bgborder(null, null, var(--primary-color));
        //     @include font(var(--white-color));
        // }
    }

    p {
        @include font(var(--danger-color), var(--font-size), 20px, var(--font-weight-regular), center);
    }
}